@using Livraria.WebUI.Models
@model ErrorViewModel

@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ocorreu um erro</h1>

<p>Desculpe, mas algo deu errado ao processar sua solicitação.</p>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">Mensagem de erro: @Model.ErrorMessage</p>
}

<p>
    <a asp-action="Index" class="btn btn-info">Voltar para a página inicial</a>
</p>

